
    table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
    text-align: center;
}
    th, td {
    border: 1px solid black;
    padding: 10px;
}

    th {
    background-color: #999;
    color: white;
    font-style: italic;
}

    a {
    color: blue;
    text-decoration: none;
}

    ol {
        list-style-type: decimal;
        padding-left: 20px;
    }

    ol, ol {
        list-style-type: decimal;
    }

    b {
        font-weight: bold;
    }

    p {
        margin-bottom: 20px;
    }

    #div1 table {
        width: 100%;
        border:"1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; margin-left: 0;"
      }
        
         
        
          
      #divtablaclasificacion de requisitos funcionales th,li {text-align: left;}
        
    
    
    
    table,th,td {border: 1px solid black;border-collapse: collapse;}
    th,td {padding: 10px;}
    th {background-color: grey;}




    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    strong {
        color: #007b00;
    }
    

    .tablasS
table, td, th{
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    width: 85%;
    text-align: center;
}
.tablasI
table, td, th{
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    width: 80%;
    text-align: left;
}

